[Unit]
Description=SailUI server
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/SailUI/server
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/SailUI/server/main.py 
StartLimitBurst=2
StartLimitInterval=30
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
