[Unit]
Description=SailUI positionnement
After=multi-user.target

[Service]
WorkingDirectory=/home/sailui/Documents/server
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/sailui/Documents/positionnement.py 
StartLimitBurst=2
StartLimitInterval=30
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
